.Information {
    height: 100%;
    width: 97%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;

    padding: 20px;
}

.Information > div {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: "Bungee", sans-serif;
    color: #fff;
}

.Information > div:not(.Forecast-Box) {
    padding: 15px;
}

.Temperature {
    font-size: 60px;
}

.Subtitle {
    font-size: 20px;
}

.Forecast-Box > .Subtitle {
    padding: 15px;
}

.Forecast-Box {
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
}

.Forecast-Box > div:not(.Subtitle){
    flex-grow: 1;
}

.Forecast-Box > div:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Forecast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 15px 20px;
}

.Forecast > div {
    display: flex;
    align-items: center;
}

.Dark {
    background: rgba(0,0,0,.25);
}

.Icon {
    margin-left: 10px;
    margin-right: 10px;
}

.Forecast-Temp {
    margin-left: 10px;
}

.Temp-Icon {
    margin-left: auto;
    order: 2;
}

.WindBox {
    display: block;
}