.SunBox {
    display: flex;
    flex-direction: row;
}

.SunBox h1 {
    text-align: center;
}

.SunBox .SunInfo {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.SunBox > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SunBox .Subtitle {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    line-height: 100%;
    font-size: 2rem;
    margin-right: .625rem;
}

.SunInfo > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.SunBox h2 {
    margin: 0;
}

.SunBox img {
    margin: 1rem;
}

@media (max-width: 1366px) {
    .Subtitle {
        display: none;
    }

    .SunInfo h2 {
        font-size: 1.1rem;
    }
}