@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.Title {
  text-align: center;
}

.Title > h1 {
  -webkit-text-stroke: 2px #000000;
  text-shadow: 5px 5px 0 #000000;

  font-family: "Bungee", sans-serif;
  color: #fff;
  font-size: 2.5rem;

  text-transform: uppercase;
  user-select: none;
}

.DesktopTitle {
  margin: 0;
  padding-left: 25rem;
}

.MobileTitle {
  line-height: 80%;
  margin-bottom: 0;
}

.search {
  -webkit-text-stroke: 3px #000000;
  text-shadow: 5px 5px 0 #000000;

  text-transform: uppercase;
  user-select: none;

  display: inline-block;
  background: transparent;
  border: 0;
  font-size: 2.5rem;
  font-family: "Bungee", sans-serif;
  color: #fff;

  text-decoration: underline white;
  text-underline-offset: 7px;

  height: 75px;
  cursor: alias;
}

.mobileSearch {
  -webkit-text-stroke: 3px #000000;
  text-shadow: 5px 5px 0 #000000;

  text-transform: uppercase;
  user-select: none;

  display: inline-block;
  background: transparent;
  border: 0;
  font-size: 2.5rem;
  font-family: "Bungee", sans-serif;
  color: #fff;

  text-decoration: underline white;
  text-underline-offset: 7px;

  height: 75px;
  width: 100vw;
  cursor: alias;
}

input:focus {
  outline: none;
}

.Floating {
  animation-name: Floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes Floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}

@media (max-width: 1366px) {
  .DesktopTitle {
    display: None;
  }

  input {
    text-align: center;
  }
}

@media (min-width: 1366px) {
  .MobileTitle {
    display: None;
  }
}